

body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
    background-color:rgba(123, 116, 109, 0.343); 
}

header {
    background-color: rgb(87, 45, 15); 
    color: white; 
    text-align: center; 
}



hr { border: 5px;}



h3{color: #000000;}
h2{color: black;}


* {                          /* Seleciona todos os elementos da página */
    margin: 0;               /* Remove margens padrão */
    padding: 0;              /* Remove preenchimentos padrão */
}

a { 
    color: aliceblue;        /* Define a cor dos links como "aliceblue" */
    text-decoration: none;   /* Remove sublinhado dos links */
    transition: 0.3s;        /* Aplica uma transição suave de 0.3 segundos */
}

a:hover { 
    opacity: 0.7;            /* Reduz a opacidade para 70% no hover, dando um efeito visual */
}

.logo { 
    font-size: 100px;         /* Define o tamanho da fonte como 24 pixels */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 5px;     /* Aumenta o espaçamento entre as letras para 4px */
}

nav { 
    display: flex;           /* Usa o Flexbox para organizar os itens em linha */
    justify-content: space-around; /* Espaça uniformemente os itens ao redor */
    align-items: center;     /* Alinha os itens verticalmente ao centro */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte da barra de navegação */
    background: saddlebrown;
    height: 8vh;
}
main { 
    background: url("fundo3.jpeg") no-repeat center center; /* Adiciona imagem de fundo centralizada sem repetição */
    background-size: cover; /* Redimensiona a imagem para cobrir toda a área de "main" */
    height: 450vh;           /* Define a altura da seção principal como 92% da altura da tela */
}

.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;   
}


.produto-imagem{ background-color: saddlebrown;
    text-align: center;
    border-radius: 30px;
}

.produto-info{border: 25px solid; 
    color: saddlebrown;
    border-radius: 10px;
    text-align: center;
    width: 100px; 
height: 20px;} 

.produto{
    text-align: center; 
}

 .wha{width: 100px;
height: 100px;}   

.visa{width: 200px;
    height: 100px;}