body {
    font-family: Arial, sans-serif;
    background-color: rgb(121, 118, 118);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img6.png);
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #4e342e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

h1 {
    margin-bottom: 10px;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.2s;
}

.contact-link i {
    margin-right: 8px;
    font-size: 20px;
}

.contact-link:hover {
    background-color: white;
    color: saddlebrown;
    transform: scale(1.05);
}
